.navbar, .navbar-default {
    flex: 0 0 auto;
}

.navbar {
    margin-bottom: 0px !important;
    background-color: white !important;
    padding-bottom: 5px;
    color: #777;
    z-index: 1001; /* above the map and the modals */
}

.navbar > .container {
    width: 100%;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-default {
    background-color: white; 
    border-color: #777;
    border: 1px;
    border-style: none none solid none;
}

.nav-element {
    padding: 5px;
    margin-top: 5px;
}

.ant-slider {
    margin: 0;
}

.center {
    display: table;
    margin: 0 auto;
}

.center > label {
    font-weight: normal;
}