.brew-reviews-container {
	float: left;
	display: block;
	width: 50%;
}

.brewery-reviews {
	margin-bottom: 30px;
}

.brew-reviews-header {
	border-bottom: 1px solid #D3D3D3;
	color: #778899;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 10px;
}

.review-text {
    border-bottom: 1px solid #D3D3D3;
    padding: 10px;
}

.review-text:last-child {
    border: 0px;
}

.brew-review-text {
	font-size: 14px;
	padding: 5px;
	text-align: left;
}

