.brew-reviews-container {
	margin-top: 15px;
	width: 100%;
}

.brew-reviews-header {
	color: #1E90FF;
}

.brew-review {
	padding: 10px;
}

.brew-review-text {
	font-size: 14px;
	padding: 5px;
}

.brewery-reviews {
    padding: 30px;
}
