.breweryPage-map {
    height: 275px;
    width: 100%;
    margin-top:5px;
}

.breweryPage-header {
    display: table;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ant-tabs-nav-container {
    display: table;
    margin: 0 auto;
}

.brewery-name {
	color: #1E90FF;
}
