/*https://codepen.io/joshhunt/pen/LVQZRa*/

$duration = 450ms
$growSize = 2

.brew-image-row {
  	min-height: 100vh;
    max-height: 100vh;
  	width: 100%;
    overflow-x: scroll;
    overflow: -moz-scrollbars-horizontal;
}

.brew-image-tile__image {
	width: auto;
	height: auto;
  max-width: 90vw;
	max-height: 85vh;
}

.brew-image-row {
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  	overflow-x: scroll;
    overflow: -moz-scrollbars-horizontal;
  	-webkit-overflow-scrolling: touch;
  	width: 100%;
}

.brew-image-row__inner {
  	transition: $duration transform;
  	font-size: 0;
  	white-space: nowrap;
  	margin: ($tileHeight / 2) 0;
  	padding-bottom: 10px;
}

.brew-image-tile {
  	position: relative;
  	display: inline-block;
  	width: $tileWidth;
  	height: $tileHeight;
  	margin-right: 10px;
  	font-size: 20px;
  	cursor: pointer;
  	transition: $duration all;
  	transform-origin: center left;
}

.brew-image-tile__img {
  	width: $tileWidth;
  	height: $tileHeight;
  	object-fit: cover;
}


.brew-image-tile:hover & {
    opacity: 1;
}

.tile__title{
  	position: absolute;
  	bottom: 0;
  	padding: 10px;
}




