.App {
	display: flex;
	flex-flow: column;
	height:100%;
}

.App-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.brewery-page {
    z-index: 1; /* above the map */
    background: white;
    flex: 1 1 auto;
}