/*.image-gallery-image > img{
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 400px;
    max-height: 400px;
}

#Gallery > div > a > img {
	width: auto;
	height: 270px;
	max-height: 800px;
}

#Gallery {
	margin-left: 40px;
}*/

$duration = 450ms
$tileWidth = 250px
$tileHeight = ($tileWidth / (16/9))
$iconSize = 50px
$growSize = 2

$moveLeft = -( $tileWidth / $growSize)
$moveRight = $tileWidth

body, html {
  padding: 0 10px;
  margin: 0;
  background: #0E0F11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.tile__image {
	width: auto;
	height: 400px;
	max-height: 400px;
}
* { box-sizing: border-box }

h1, p {
  text-align: center;
}

p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
}

.row__inner {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: ($tileHeight / 2) 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile__img {
  width: $tileWidth;
  height: $tileHeight;
  object-fit: cover;
}


.tile:hover & {
    opacity: 1;
}

.tile__title{
  position: absolute;
  bottom: 0;
  padding: 10px;
}


.row__inner:hover {
  transform: translate3d($moveLeft, 0, 0);
}

.row__inner:hover .tile{

  opacity: .3;

  &:hover;
    transform: scale($growSize);
    opacity: 1;
}

.tile:hover ~ .tile {
  transform: translate3d($moveRight, 0, 0);
}
