.image-gallery-image > img{
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 400px;
    max-height: 400px;
}

#Gallery > div > a > img {
	width: auto;
	height: 260px;
	max-height: 800px;
}