.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

#contained-modal-title {
	font-size: 3.5em;
	background-image: url("../public/beer-header.jpg");
	border-radius: 10px;
	text-align: center;
	color: #B0C4DE;
	font-weight: lighter;
	text-shadow: 2px 2px #6495ED;
}
