.brewery-pin {
	cursor: pointer;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.extra-wide-modal {
    width: 95%;
}

#contained-modal-title {
	font-size: 3.5em;
	background-image: url("./images/beer-header.jpg");
	border-radius: 10px;
	text-align: center;
	color: #B0C4DE;
	font-weight: lighter;
	text-shadow: 2px 2px #6495ED;
}

.brewery-reviews {
	padding: 10px;
}

.review-text {
	border-bottom: 1px solid #D3D3D3;
	padding: 10px;
}

.review-text:last-child {
	border: 0px;
}

.brewery-description {
	margin-top: 15px;
	margin-bottom: 15px;
}

.brewery-beers {
	padding: 10px;
}

.brewery-events {
	padding: 10px;
}